body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    overflow: hidden;
}

.quicada {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    animation: bounce 2s linear 5;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-450px);
    }
    50% {
        transform: translateY(0);
        left: calc(80% - 80px);
    }
}
