body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}

.quadrado:hover {
    background-color: rgb(229, 255, 0);
}
